/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes slideLeftRight {
    from {
      transform: translateX(-4px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(1);
      transform-origin: center;
    }
  
    to {
      transform: scale(1.5);
      transform-origin: center;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .sparks {
    opacity: 0;
  }
  
  /* HOVER */
  .core {
    fill: transparent;
    transition: fill 0.3s 0.03 linear;
  }
  
  .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
  }
  
  .card__icon-button:hover .core {
    fill: var(--text-color, #000);
    transition: fill 0.3s linear;
  }

  .card__icon-button:hover .main-body {
    fill: var(--text-color, #000);
    transition: fill 0.3s 0.05 linear;
  }
  
  /* Leave hovering */
  /* .card__icon-button:not(:hover) .core,
  .card__icon-button:not(:active) .core {
    transition: fill 0.3s 0.03s linear;
  }
  
  .card__icon-button:not(:hover) .main-body,
  .card__icon-button:not(:active) .main-body {
    transition: fill 0.3s linear;
  }
   */
  /* ACTIVE */
  .card__icon-button:active .core {
    fill: var(--heart-fill-color, #ff0000);
    transition: fill 0.3s linear;
  }
  
  .card__icon-button:active .main-body {
    fill: var(--heart-fill-color, #ff0000);
    transition: fill 0.3s 0.05 linear;
  }
  
  /* IS LIKED */
  .like-icon.is-liked .core {
    fill: var(--heart-fill-color, #ff0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--heart-fill-color, #ff0000);
    transition: fill 0.3s 0.05s linear;
  }
  
  /* .like-icon:not(.is-liked) .main-body  {
    transition: fill 0.3s 0.3s linear;
  } */
  
  .like-icon.is-liked .contour {
    fill: var(--heart-fill-color, #ff0000);
    transition: fill 0.3s 0.06s linear;
  }
  
  .like-icon:not(.is-liked) .contour {
    transition: fill 0.1s linear;
  }
  
  .like-icon.is-liked {
    animation-name: scaleUp;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
  }
  
  .like-icon.is-liked .sparks {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
  }
  
  /* .like-icon.is-liked .heart {
  
  } */